h1 {
    font-size: 50;

}

p {
    font-size: 25px;
}
.button {
    border: 5;
    color: rgb(154, 21, 21);
    padding: 20px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
}
div{
    text-align: center;
}
img{
    width: 400;
    height: 600;
}

