h1 {
    font-size: 50;
    color: rgb(131, 4, 66);
    font-family: Blackadder ITC;
    text-align: center;
}

p {
    font-size: 25px;
}

.button {
    border: 5;
    color: rgb(154, 21, 21);
    padding: 20px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
}

.img-display {
    display: flex;
}

img {
    width: 400px;
    height: 600px;
    margin-right: 30px;
}